footer {
    padding: 15px 64px;
    background-color: #FFE6E2;
}

footer p {
    text-align: center;
    font-size: 20px;
}

.footer-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 15px;
    margin-top: 15px;
}

.contacts,
.map {
    display: flex;
    flex-direction: column;
    line-height: 0.2px;
}

.social-media a,
.map a {
    cursor: pointer;
    text-decoration: none;
}

.social-media a img {
    width: 48px;
    height: 48px;
    filter: grayscale(100%) brightness(0.2);
}

.map {
    align-items: flex-end;
}

.contacts {
    align-items: flex-start;
}

.map a,
.contacts p {
    margin: 10px 0;
    font-size: 20px;
}

.map h2,
.contacts h2 {
    font-size: 20px;
    font-weight: 700;
}


@media (max-width: 800px) {
    footer {
        padding: 15px 32px;
    }

    footer p {
        font-size: 10px;
    }

    .footer-home {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "map"
            "contacts";
    }

    .social-media a img {
        width: 32px;
        height: 32px;
    }

    .map {
        grid-area: map;
    }

    .contacts {
        grid-area: contacts;
    }

    .map a,
    .contacts p {
        font-size: 14px;
    }

    .map h2,
    .contacts h2 {
        display: none;
    }

    .map,
    .contacts {
        align-items: flex-start;
    }
}