html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 97vh;
    padding: 0;
    margin: 0;
    background-color: #FFF8EA;
    font-family: Montserrat;
    letter-spacing: 0%;
    color: #450000;
}

a,
h1,
h1,
p,
li {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    letter-spacing: 0%;
    line-height: 100%;
    color: #450000;
}

main {
    flex: 1;
}

section {
    margin: 30px 0;
}

section h1 {
    font-size: 48px;
}


.home {
    margin-top: 0;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/home.jpg") bottom center/cover no-repeat;
    filter: blur(5px);
    transform: scale(1.1);
    /* avoids blur edges */
    z-index: -1;
}

.home::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom,
            transparent,
            #FFF8EA);
}

.home h1,
.home h2 {
    font-style: Light;
    line-height: 100%;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat';
}

.home h1 {
    font-size: 48px;
    inline-size: min-content;
    font-weight: 300;
}

.home h2 {
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
    font-weight: 200;
}

.home h2::after {
    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    bottom: -5px;

    width: 30%;
    height: 1px;

    background: #450000;
}



.bouquets,
.delivery {
    padding: 0 15px;
}

.bouquets h1 {
    text-align: center;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.cards> :nth-child(odd) {
    justify-self: end;
}

.cards> :nth-child(even) {
    justify-self: start;
}

.card {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    background:
        linear-gradient(#A6747466,
            #A6747466),
        url("../img/card.png") bottom center/cover no-repeat;
}

.card img {
    /* width: 100%;
    aspect-ratio: 9 / 10; */
    width: 350px;
    height: 450px;
    object-fit: cover;
    display: block;
    padding: 15px 30px;
    box-sizing: border-box;
}

.card h1,
.card h2 {
    margin: 5px;
    margin-bottom: 15px;
}

.card h1 {
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 27px;
    line-height: 100%;
    align-self: flex-start;
}

.card p {
    margin: 0;
}

.tags {
    align-self: flex-start;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags p {
    background-color: white;
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.tags p::before {
    content: "#";
}

.card h2 {
    align-self: flex-end;
    font-weight: 300;
    font-style: Light;
    font-size: 28px;
    line-height: 100%;
}

.card h2::after {
    content: " zł";
    font-size: 24px;
}

.order-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.counter button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 24px;
    color: #450000;
}

.counter p {
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
    color: #450000;
    font-size: 22px;
}

.order-button {
    background: white;
    border-radius: 10px;
    border: transparent;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 22px;
    line-height: 100%;
    color: #450000;
}

.about {
    background-color: #F1C9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px 0;
}

.about::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,
            transparent,
            #FFF8EA);
}

.about h1 {
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    text-align: center;
    z-index: 1;
}

.about-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 45px;
}

.about-home img {
    margin: 10px 95px;
    width: 850px;
    height: 500px;
    object-fit: cover;
    object-position: top;
    display: block;
    box-sizing: border-box;
    border-radius: 25px;
    max-width: 60%;
}

.about-text p {
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 100%;
}





.delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.delivery h1 {
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
}

.delivery-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.proposes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 40%;
}

.propos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.propos h2,
.propos p {
    font-size: 22px;
    line-height: 100%;
}

.propos h2 {
    margin-top: 0;
    font-weight: 800;
    font-style: ExtraBold;
}

.propos p {
    font-weight: 400;
    font-style: Regular;
}

.propos img {
    width: 64px;
    height: 64px;
    margin-right: 15px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    width: 40%;
}

.comment p {
    padding: 10px 25px;
    background-color: #F1C9BF;
    border-radius: 25px;
    margin-top: auto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 100%;
}

.comment .text {
    width: 100%;
}

.comment .text p {
    background-color: transparent;
}

@media (max-width: 900px) {
    .card img {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 800px) {
    section h1 {
        font-size: 27px;
    }

    .home h2 {
        font-size: 27px;
    }

    .home h2::after {
        width: 60%;
    }

    .cards> :nth-child(odd),
    .cards> :nth-child(even) {
        justify-self: center;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .card img {
        padding: 0 5px;
        /* aspect-ratio: 9 / 13; */
        max-width: 250px;
        max-height: 350px;
    }

    .card h1 {
        font-size: 22px;
        margin-top: 15px;
    }

    .tags {
        width: 70%;
    }

    .tags p {
        font-size: 11px;
    }

    .card h2 {
        font-size: 24px;
    }

    .card h2::after {
        font-size: 20px;
    }

    .counter button {
        font-size: 18px;
    }

    .counter p {
        font-size: 14px;
    }

    .order-button {
        font-size: 16px;
    }

    .about-home {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 0;
    }

    .about-text p {
        font-size: 15px;
    }

    .about-home img {
        width: 80%;
        height: 60vh;
        max-width: 450px;
    }

    .delivery {
        height: 80vh;
    }

    .delivery-home {
        flex-direction: column;
        justify-content: flex-start;
    }

    .propos h2,
    .propos p {
        font-size: 15px;
    }

    .proposes {
        width: 100%;
    }

    .comment .text {
        display: none;
    }

    .comment {
        margin-top: auto;
        width: 100%;
    }

    .comment p {
        font-size: 15px;
    }
}