<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="static/css/bouquets.css">

    <title>Bouquet</title>

    <style>
        header {
            background: #FFE6E2;
        }
    </style>
</head>

<body>
    {% include('header.html') %}

    <main>
        <section class="bouquets">
            {% if product %}
            <section class="gallery">

                <div class="gallery-main">
                    {%for image in product.img%}
                        <img class="main-slide active" src="{{ url_for('static', filename='uploads/' + image.split('/')[-1]) }}" alt="">
                    {% endfor %}
                </div>

                <div class="gallery-preview">
                    {% for image in product.img %}
                        <img class="preview" 
                            src="{{ url_for('static', filename='uploads/' + image.split('/')[-1]) }}"
                            onclick="currentSlide({{ loop.index0 }})">
                    {% endfor %}
                </div>

            </section>

            <section class="description">
                <h1>Tytuł: {{ product.name }}</h1>

                <div class="tags">
                    {% for tag in product.tags %}
                    <p>{{ tag }}</p>
                    {% endfor %}
                </div>

                <p>Jgbc ntcn</p>

                <div class="counter">
                    <button class="minus">-</button>
                    <p class="count">{{ product.count }}</p>
                    <button class="plus">+</button>
                </div>
                <p class="price">{{ product.price }}</p>

                <form action="/" method="POST" class="contact-form">
                    <input type="text" name="name" placeholder="Twoje imię" required>
                    <input type="tel" name="phone" placeholder="Numer telefonu" required>
                    <button type="submit" class="btn-submit">Złóż zamówienie</button>
                </form>
            </section>

            {% else %}
            <p>Dane nie zostały przekazane</p>
            {% endif %}
        </section>

    </main>


    {% include('footer.html') %}

    <script src="static/js/bouquets.js"></script>

</body>

</html>