<head>
    <link rel="stylesheet" href="static/css/footer.css">
</head>

<footer>
    <div class="footer-menu">
        <div class="social-media">
            <a href="">
                <img src="static/img/inst.png" alt="">
            </a>

            <a href="">
                <img src="static/img/tik.png" alt="">
            </a>

            <a href="">
                <img src="static/img/tg.png" alt="">
            </a>

            <a href="">
                <img src="static/img/wtapp.png" alt="">
            </a>
        </div>

        <div class="footer-home">
            <div class="contacts">
                <h2>Nasza lokalizacja:</h2>
                <p>Łódź </p>
                <p>OFF Piotrkowska, ul. Roosevelta 12B</p>
                <p>Codziennie: 10:30–20:00</p>
                <p>+48 578 421 685</p>
            </div>

            <div class="map">
                <h2>Nawigacja po stronie</h2>
                <a href="/#bouquets">Bukiety</a>
                <a href="/#about">O nas</a>
                <a href="/#delivery">Dostawa i płatność</a>
            </div>
        </div>



    </div>

    <p>© 2026 FLOWERS BAR, ŁÓDŹ, POLSKA</p>
</footer>