<head>
    <link rel="stylesheet" href="static/css/footer.css">
</head>

<footer>
    <div class="footer-menu">
        <div class="contacts">
            <h2>Contacts</h2>
            <p>Phone: </p>
            <p>Email: </p>
            <p>Location: </p>
        </div>

        <div class="social-media">
            <h2>Our media</h2>
            <p>Instagram: </p>
            <p>Facebook: </p>
            <p>TikTok: </p>
        </div>

        <div class="map">
            <h2>Hee you find</h2>
            <a href="#home">Home</a>
            <a href="#bouquets">Bouquets</a>
            <a href="#about">About us</a>
        </div>
    </div>
</footer>