<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">
    <title>FlowersBar</title>
</head>

<body>
    {% include('header.html') %}

    <main>
        <section class="home" id="home">
            <h1>Kwiaty załatwią sprawę</h1>
            <h2>Flowers Bar</h2>
        </section>

        <section class="bouquets" id="bouquets">
            <h1>Kup bukiet</h1>

            <div class="cards">
                {% for flower in data %}

                <div class="card">
                    <img loading="lazy" src="{{ url_for('static', filename='uploads/' + flower.photo.split('/')[-1]) }}">

                    <h1>{{flower.name}}</h1>

                    <div class="tags">
                        {% for i in flower.tags %}
                            <p>{{i}}</p>
                        {% endfor %}
                    </div>

                    <h2>{{flower.price}}</h2>

                    <div class="order-menu">
                        <div class="counter">
                            <button class="minus">-</button>
                            <p class="count">1</p>
                            <button class="plus">+</button>
                        </div>

                        <button class="order-button">zamówienie</button>
                    </div>
                </div>

                {% endfor %}
            </div>

        </section>

        <section class="about" id="about">
            <h1>O nas</h1>

            <div class="about-home">
                <img loading="lazy" src="static/img/aboutai.jpg" alt="">

                <div class="about-text">
                    <p>Wierzymy, że kwiaty nie potrzebują okazji!</p>

                    <p>Czasem wystarczy impuls, myśl o kimś albo chęć, by zatrzymać na 
                        chwilę codzienność. Właśnie dlatego tworzymy bukiety, które 
                        mówią więcej niż słowa- subtelnie, elegancko i prawdziwie.</p>

                    <p>Łączymy nowoczesną estetykę z ponadczasową lekkością, dbając o 
                        każdy detal - od świeżości kwiatów po sposób ich wręczenia.</p>

                    <p>Wierzymy, że dobrze dobrany bukiet potrafi poprawić dzień, 
                        naprawić humor, zbliżyć ludzi i zostać w pamięci na długo.</p>

                    <p>Flowers Bar to miejsce, gdzie kwiaty są częścią emocji, 
                        codzienności i pięknych momentów  a nawet tych bez okazji.</p>
                </div>
            </div>

        </section>

        <section class="delivery" id="delivery">
            <h1>Dostawa i płatność</h1>

            <div class="delivery-home">
                <div class="proposes">
                    <div class="propos">
                        <img loading="lazy" src="static/img/sun.png" alt="">

                        <div class="description">
                            <h2>Godziny otwarcia</h2>

                            <p>codziennie</p>

                            <p>10:30 – 20:00</p>
                        </div>
                    </div>

                    <div class="propos">
                        <img loading="lazy" src="static/img/clock.png" alt="">

                        <div class="description">
                            <h2>Dostawa na terenie Łodzi</h2>

                            <p>dostawa na terenie Łodzi — 20 zł</p>

                            <p>realizujemy dostawy nawet </p>
                            <p>w ciągu 30–60 minut</p>
                        </div>
                    </div>

                    <div class="propos">
                        <img loading="lazy" src="static/img/car.png" alt="">

                        <div class="description">
                            <h2>Dostawa poza Łódź</h2>

                            <p>dostarczamy również poza Łódź</p>

                            <p>koszt dostawy ustalany indywidualnie</p>
                        </div>
                    </div>
                </div>

                <div class="comment">
                    <div class="text">
                        <p>Zamówienie należy złożyć co najmniej 2 godziny przed
                            godziną, na którą chcesz je otrzymać. Prosimy zwrócić
                            uwagę, że jeśli winda nie działa, dostawa kurierska
                            odbywa się wyłącznie do 5. piętra. Dziękujemy za
                            zrozumienie.</p>

                        <p>Dostawa realizowana jest na adres wskazany w zamówieniu.
                            W przypadku nieobecności odbiorcy bukiet zostanie
                            przekazany rodzinie, znajomym, konsjerżowi,
                            współpracownikom lub innym osobom trzecim.</p>
                    </div>
                    <p>Dostarczamy kwiaty szybko, delikatnie i na czas tam, gdzie są 
                        potrzebne!</p>
                </div>
            </div>

        </section>
    </main>

    {% include('footer.html') %}

    <script src="static/js/home.js"></script>
</body>

</html>